body {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  line-height: 1.7em;
  font-size: 18px;
}

h1 {
  font-style: normal;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 3.5rem;
  line-height: 1.7em;
}

h2 {
  font-style: normal;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  padding-bottom: 30px;
}

p {
  color: #000;
}

.whitetext {
  color: #eee;
}

.container-fluid {
  padding: 1.5% 5%;
}

.wave-container1 {
  background: #c9d6df;
}

.wave-container2 {
  background: #c9d6df;
}

.wave-container3 {
  background: #323232;
}

.wave-container4 {
  background: #c9d6df;
}

.wave-container5 {
  background: #323232;
}

.wave-container6 {
  background: #c9d6df;
}

/* <!-- Navigation Bar --> */
.navbar {
  background-color: #323232;
}

.navbar-brand {
  color: #fff;
  font-style: normal;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.nav-item {
  color: #fff;
  padding: 0 20px;
}

@media (max-width: 900px) {
  .navbar-brand {
    margin: auto;
    font-size: 1.5rem;
  }

  .navbar-toggler {
    margin: auto;
  }

  .navbar-toggler-icon {
    margin: auto;
  }
}

/* MUSIC PAGE START */
/* bio */
.bio {
  background-color: #c9d6df;
}

.introduction {
  padding-left: 10%;
  font-size: 1.5em;
}
/* UNVOICED */
.unvoiced {
  background-color: #323232;
}

/* A LITTLE HELP */

.alittlehelp {
  background-color: #c9d6df;
}

/* WHERE SHE HAS LAIN */

.whereshehaslain {
  background-color: #323232;
}


/* NIGHT BAZAAR */

.nightbazaar {
  background-color: #c9d6df;
}
/* MUSIC PAGE END */

/* ABOUT.HTML START */

.about {
  background-color: #c9d6df;
}

/* ABOUT.HTML END */


/* worklist */
.worklisth1 {
  color: #212529;
  text-align: center;
}

.worklist-container {
  padding: 3% 10%;
}

.category {
  text-align: center;
  padding: 2%;
}

/* Contact me form */
.contact-container {
  padding: 1% 20%;
}

.contacth1 {
  color: #fff;
  text-align: center;
}

/* FOOTER */

.footer {
background-color: #323232;
}
.footertext {
  color: #eee;
  font-size: .7em;
}
